@import "globals";

.primary-border {
    border: 1px $primary-color solid !important;
    border-radius: 4px !important;
}


.black-border {
    border: 1px #333333 solid !important;
    border-radius: 4px !important;
}