@import "globals";

.primary-color {
  color: $primary-color !important;
}

.primary-dark--colopr {
  color: $primary-dark-color !important;
}

.white-color {
  color: #ffffff !important;
}

.font-primary-color {
  color: #1f3349 !important;
}

.font-title-color {
  color:  #1f3349 !important;
}

.link-color {
  color: #0069ff !important;
}

.font-light-color {
  color: #666 !important;
}